html, body {
    padding: 0px;
    margin: 0px;
}
.card {
    border-radius: 10px;
    width: 250px;
    height: 600px;
    text-align: center;
    display: inline-block;
    border: 2px solid #ffd037;
    margin: 10px auto 0 auto;
    padding: 25;
}
#moreinfo {
    background-color: #ffd037;
    border-radius: 2px;
    margin-top: 225px;
    padding: 5px 10px 5px 10px;
}
#frf {
    background-color: #ffd037;
    padding: 10px 10px 10px 30px
}
#hppc {
    background-color: #ffd037;
    word-spacing: 10px;
    padding: 10px 10px 10px 20px;
}
.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px 0px 150px
}
.allcon {
    clear: both;
}
h2 {
    text-align: left;
}
#navcon {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #ffd037;
    height: 75px;
}